accelerate==0.24.0
bitsandbytes==0.41.1
datasets==2.14.6
mlflow==2.7.1
omegaconf==2.3.0
peft==0.5.0
tokenizers==0.14.1
torch==2.1.0+cu118
transformers==4.34.1
triton==2.1.0
triton-pre-mlir @ git+https://github.com/vchiley/triton.git@86c7fe23397467ade531513291f729c12dd8d15e#subdirectory=python
trl==0.7.2
