accelerate==0.24.0
aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.12.1
antlr4-python3-runtime==4.9.3
apache-libcloud==3.8.0
appdirs==1.4.4
argcomplete==3.1.2
arrow==1.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-timeout==4.0.3
attrs==23.1.0
azure-core==1.29.5
azure-identity==1.15.0
azure-storage-blob==12.18.3
azure-storage-file-datalake==12.13.2
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
bcrypt==4.0.1
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
blinker==1.6.3
boto3==1.28.72
botocore==1.31.72
Brotli==1.1.0
cachetools==5.3.2
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==2.1.1
circuitbreaker==1.4.0
click==8.1.7
cloudpickle==2.2.1
cmake==3.26.3
coloredlogs==15.0.1
contourpy==1.1.1
coolname==2.2.0
cryptography==41.0.5
cycler==0.12.1
databricks-cli==0.18.0
datasets==2.14.6
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dill==0.3.7
docker==6.1.3
docker-pycreds==0.4.0
docstring-parser==0.15
einops==0.5.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
filelock==3.9.0
flash-attn==1.0.9
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.6.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
gql==3.4.1
graphql-core==3.2.3
greenlet==3.0.1
gunicorn==21.2.0
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1655241617783/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1653754916420/work
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1698673647019/work
kiwisolver==1.4.5
lightning-utilities==0.9.0
-e git+https://github.com/mosaicml/llm-foundry.git@7009d4d1a5dd9191874579d422d312a52b5fd060#egg=llm_foundry
Mako==1.2.4
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mlflow==2.7.1
mosaicml==0.16.4
mosaicml-cli==0.5.25
mosaicml-streaming==0.6.1
mosaicml-turbo==0.0.4
mpmath==1.3.0
msal==1.24.1
msal-extensions==1.0.0
multidict==6.0.4
multiprocess==0.70.15
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx==3.0
ninja==1.11.1.1
numpy==1.24.1
oauthlib==3.2.2
oci==2.114.0
omegaconf==2.3.0
onnx==1.14.0
onnxruntime==1.15.1
packaging==22.0
pandas==2.1.2
paramiko==3.3.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathtools==0.1.2
peft==0.5.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1699715570510/work
portalocker==2.8.2
prompt-toolkit==3.0.36
protobuf==4.24.4
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.16.1
PyJWT==2.8.0
PyNaCl==1.5.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-snappy==0.6.1
pytorch-ranger==0.1.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq @ file:///croot/pyzmq_1686601365461/work
querystring-parser==1.2.4
questionary==2.0.1
regex==2023.10.3
requests==2.28.1
rich==13.6.0
rsa==4.9
ruamel.yaml==0.18.2
ruamel.yaml.clib==0.2.8
s3transfer==0.7.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
sentencepiece==0.1.97
sentry-sdk==1.32.0
setproctitle==1.3.3
shtab==1.6.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slack-sdk==3.23.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.22
sqlparse==0.4.4
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.2.0
tokenizers==0.14.1
torch==2.1.0+cu118
torch-optimizer==0.3.0
torchaudio==2.1.0+cu118
torchmetrics==1.0.3
torchvision==0.16.0+cu118
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827254365/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1698671135544/work
transformers==4.34.1
triton==2.1.0
triton-pre-mlir @ git+https://github.com/vchiley/triton.git@86c7fe23397467ade531513291f729c12dd8d15e#subdirectory=python
trl==0.7.2
types-python-dateutil==2.8.19.14
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tyro==0.5.10
tzdata==2023.3
urllib3==1.26.13
validators==0.22.0
wandb==0.15.12
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1699959196938/work
websocket-client==1.6.4
websockets==10.4
Werkzeug==3.0.1
xentropy-cuda-lib @ git+https://github.com/HazyResearch/flash-attention.git@6d48e14a6c2f551db96f0badc658a6279a929df3#subdirectory=csrc/xentropy
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
zstd==1.5.5.1
